@import url(http://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);

body {
	color: #808080;
	background: url("../img/noise_64.png") center;
	background: url("../img/noise_top_64.png") top center repeat-x, url("../img/noise_64.png") center;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #808080;
	-moz-transition: color 0.25s ease-in-out 0s;
	-moz-transition: background-color 0.25s ease-in-out 0s;
}

a:hover {
	color: #333;
}

#left {
	position: relative;
}

#right {
	padding: 35px 0 80px 0;
}

.content {
	padding-top: 30px;
} 

#site-title {
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	color: #333;
	position: absolute;
	top: 27px;
	left: 80px;
	width: 245px;
}

#logo {
	position: absolute;
	top: 26px;
	left: -11px;
}

	#logo-glow {
		position: absolute;
		top: -60px;
		left: -150px;
		width: 324px;
		height: 376px;
		background: url("../img/logo-glow.png") top center no-repeat;
		background-size: 100%;
	}

	#logo-shadow {
		position: absolute;
		top: 65px;
		left: -30px;
		width: 135px;
		height: 81px;
		background: url("../img/logo-shadow.png") top center no-repeat;
		background-size: 100%;
	}

#top-search {
	position: absolute;
	top: 70px;
	left: 50px;
	width: 400px;
}

	#search-i {
		width: 158px;
		height: 24px;
		border: 1px solid #c0c0c0;
		padding-left: 50px;
		color: #bebebe;
		font: 'Asap', sans serif;
		font-size: 16px;
		font-style: italic;
		background-color: white;
	}
	
	#s-button {
		width: 45px;
		height: 28px;
		margin: 0 0 0 -4px;
		background-image: url("../img/icon-search2.png"); /* 45px x 28px */
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;        /* make the cursor like hovering over an <a> element */
		height: 28px;
		padding-left: 16px;     /* make text start to the right of the image */
		vertical-align: bottom;
		}
		
	#s-button:hover {
		background-position: -45px 0px;
	}
	
#main-menu {
	font-size: 20px;
	line-height: 36px;
	list-style-type: none;
	margin: 0 0 50px 0;
	padding: 124px 0 140px 0;
	background: url("../img/menu-bg.png") no-repeat scroll 30px bottom;
	position: relative;
}
	
	#main-menu a 			{font-weight: normal; text-transform: uppercase; }
	#main-menu a:hover	{font-weight: bold;}
	
	#main-menu li {
		margin-left: 81px;
	}
	
	#main-menu li.active a {
		color: #333;
		font-weight: bold;
	}

#main-menu li ul li {
    margin: 0 0 0 -24px;
}

li#icon-bar {
	margin-left: 72px;
}

	#icon-bar li a {
		margin-right: 4px;
		height: 30px;
		width: 30px;
		position: relative;
		float: left;
		background: url("../img/icons.png") no-repeat scroll 0px top;
	}
	
	#icon-bar li a.identica			{background-position: 0px top;}
	#icon-bar li a:hover.identica	{background-position: 0px bottom;}
	#icon-bar li a.twitter 			{background-position: -30px top;}
	#icon-bar li a:hover.twitter 	{background-position: -30px bottom;}
	#icon-bar li a.googleplus		{background-position: -60px top;}	
	#icon-bar li a:hover.googleplus	{background-position: -60px bottom;}	
	#icon-bar li a.facebook			{background-position: -90px top;}	
	#icon-bar li a:hover.facebook	{background-position: -90px bottom;}	
	#icon-bar li a.diaspora			{background-position: -120px top;	}	
	#icon-bar li a:hover.diaspora	{background-position: -120px bottom;}	
	#icon-bar li a.share-more		{background-position: -150px top;	}	
	#icon-bar li a:hover.share-more	{background-position: -150px bottom;}	

	#icon-bar li:nth-child(1) a {margin-top: 83px;}
	#icon-bar li:nth-child(2) a {margin-top: 63px;}
	#icon-bar li:nth-child(3) a {margin-top: 45px;}
	#icon-bar li:nth-child(4) a {margin-top: 24px;}
	#icon-bar li:nth-child(5) a {margin-top: 5px;}
	#icon-bar li:nth-child(6) a {margin-top: -15px;}

.sidebar-block {
	padding: 0 0 47px 47px;
	line-height: 1.5;
	font-size: 14px;
}
	.sidebar-block a 			{font-weight: normal;}
	.sidebar-block a:hover	{font-weight: bold;}
	
	.sidebar-block h2	{
		font-size: 18px;
		margin-bottom: 5px;
	}

#social-network-iframes {
	opacity: 0.5;
	-moz-transition: opacity 0.2s ease-in-out 0s;
}
	#social-network-iframes:hover {
		opacity: 1;
}
	
#licence-info {
	text-align: right;
	font-style: italic;
	padding-right: 5px;
}
	#licence-info a {
		vertical-align: middle;
		font-weight: normal;
	}
	
	#licence-info a:hover {
		font-weight: bold;
	}

#licence-info span {
	display: block;
	opacity: 0;
	-moz-transition: opacity 0.5s ease-in-out 0s;
}

	#licence-info:hover span {
		opacity: 1;
		font-weight: normal;
	}

#donation-buttons {
	text-align: center;
}

#login-register-language {
	text-align: right;
	-moz-transition: opacity 0.25s ease-in-out 0s;
	opacity: 0.35;
	position: absolute;
}
	#login-register-language:hover 		{opacity: 1;}
	#login-register-language a 			{font-weight: normal;}
	#login-register-language a:hover	{font-weight: bold;}

#login-register-language ul {
	position: absolute;
	right: 0;
	margin-top: 10px;
	border: 1px solid #adadad;
	border-radius: 3px;
	background-color: rgba(200,200,200,0.75);
	display: block;
	z-index: 200;
}

	#login-register-language ul:hover {
		background-image:none;
	}

	#login-register-language li a {
		display: none;
		padding: 6px 18px 6px 4px;
		line-height: 1;
		white-space: nowrap;
	}

	#login-register-language ul:hover li a {
		display: block;
	}
	#login-register-language ul:hover li a:hover {
		background: url("../img/icons_vertical.png") right -32px no-repeat;
	}

	#login-register-language li.active a {
		display: inline;
		background: url("../img/icons_vertical.png") right 0px no-repeat;
		padding-right: 20px;
	}

	#login-register-language ul:hover li.active a,
	#login-register-language li.active a:hover	{
		background: url("../img/icons_vertical.png") right -32px no-repeat;
		font-weight: bold;
		color: #333;
	}

.text a {
	font-style: italic;
	white-space: nowrap;
}

.text ul {
	margin: 10px 0 10px 20px;
} 
.text ul li{
	list-style: disc;
} 

.text h2 {
	margin: 20px 0 5px 0;
}

.text p {
	margin-bottom: 10px;
}

/* ================================================================== */
/* Front - page */
/* ================================================================== */

#front-banner {
	padding: 63px 0 0 0;
}

#front-left {
	background: url("../img/vertical-separator.png") repeat-y 277px;
}

.thumbnail {
	position: relative;
	float: left;
	margin: 0 35px 100px 0;
	width: 100px;
}

.thumbnail-title {
	text-transform: lowercase;
	font-weight: normal;
	text-align: center;
	line-height: 1;
	display: block;
	margin: 5px -12px -35px;
	height: 0;
}
	.thumbnail:hover .thumbnail-title {
		font-weight: bold;
	}

.thumbnail-image {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
}

.thumbnail-image img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.thumbnail .popup {
    position: absolute;
    top: -10px;
    left: -10px;
    background: white;
    z-index: 100;
    -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
       -moz-box-shadow: 0 0 20px #aaa;
	-webkit-box-shadow: 0 0 20px #aaa;
	     -o-box-shadow: 0 0 20px #aaa;
	        box-shadow: 0 0 20px #aaa;
    width: 190px;
    text-align: center;
    padding: 5px;
    display: none;
}
.thumbnail:hover .popup {
    display: block;
}
	.thumbnail .popup .box {
	    width: 190px;
	    height: 190px;
    	position: relative;
	}
		.thumbnail .popup .box img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}

	.thumbnail .popup .star {
	    position: absolute;
	    top: 3px;
	    background: url("../img/icons_vertical.png") no-repeat -5px -270px;
	    padding: 0 0 14px 18px;
	    font-size: 9px;
	    right: 6px;
	}
	.popup .title {
	    display: block;
	    color: black;
	    font-size: 16px;
	}
	.popup .title, .popup .author {
	    font-weight: bold;
	}
	.popup p {
	    margin: 0;
	}


/* ================================================================== */
/* Search - page */
/* ================================================================== */

#container.search-page {	
	margin-left: 18px;
	width: auto;
}

.search-page #footer{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

#search {
	padding-top: 124px;
}

#search h1 {
	display: inline;
	clear: both;
}

#search h1 + em{
	font-style: italic;
	font-weight: bold;
	font-size: 22px;
	color: #333;
	clear: both;
}

.download-button {
	display: block;
}

	.download-button a {
		color: white;
		font-style: italic;
		font-weight: bold;
		background-color: #e70000;
		border-radius: 5px;
		box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
		padding: 2px 8px 4px 8px;
		top: 4px;
	}
	
	.download-button a:hover {
		background-color: #333;
		font-weight: normal;
	}
	
	.download-button p {
		position: absolute;
		margin-top: 10px;
		opacity: 0;
		-moz-transition: opacity 0.5s ease-in-out 0s;
	}
		
	.download-button:hover p {opacity: 1;}


#results {
	text-align: center;
}
	
#result-search {
	box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.10);
	border-radius: 3px;
	margin: 0 auto 20px auto;
	text-align: center;
	display: inline;
}

#results-container {
	min-width: 630px;
	padding-top: 10px;
	overflow: hidden;
}

	#result-search #search-i {
		border-radius: 3px 0 0 3px;
		height: 26px;
		width: auto;
		padding: 0;
		text-align: center;
	}
	
#result-navigation {
	background: url("../img/search-navigation-bg.png") no-repeat bottom center transparent;
	text-align: center;
	padding: 2px 0 10px 0;
	margin-top: 10px;
}

	#result-navigation .title {
		font-weight: bold;
		display: inline;
		background: url("../img/icons_vertical.png") no-repeat 100% -36px;
		padding-right: 14px;
	}

#search-sort {
	width: 200px;
	height: 22px;
	overflow: hidden;
	margin: 0 auto;
	-moz-transition: width 0.5s ease-in-out 0s;
}
	#search-sort:hover {
		width: 500px;
	}

#search-sort .details {
	opacity: 0;
	display: none;
}
	#search-sort:hover .details {
		opacity: 1;
		width: 400px;
		display: inline;
	}

#search-sort .details a{
	background: url("../img/icons_vertical.png") no-repeat 100% -36px;
	padding-right: 13px;
	font-weight: normal;
} 
	#search-sort .details a:hover {font-weight: bold;} 
	
	#search-sort a.date,
	#search-sort a.downloads		{background-position: 100% -127px;}
	#search-sort a.active			{background-position: 100% -67px;	}

#search-sort a.color {
	border-radius: 3px;
	background-image: none;
	border: 1px solid transparent;
	box-shadow: 0px 0px 1px gray;
	opacity: 0.5;
	font-size: 10px;
	padding-right: 10px;
}
	#search-sort a.active.color,
	#search-sort a.color:hover	{
		opacity: 1;
		border-color: black;
	}
	
#search-sort .color.red 	{background-color: red;}
#search-sort .color.blue 	{background-color: blue;}
#search-sort .color.yellow 	{background-color: yellow;}
#search-sort .color.green 	{background-color: green;}
#search-sort .color.black 	{background-color: black;}
#search-sort .color.white 	{background-color: white;}

#result-list {
	padding-top: 15px;
}

ul#search-pagination {
	margin: 2px 0 6px 0;
}

ul#search-pagination li {
	display: inline;
}

ul#search-pagination li a{
	font-weight: normal;
	width: 20px;
	display: inline-block;
	position: relative;
}
	ul#search-pagination li a:hover{
		font-weight: bold;
	}

ul#search-pagination a.first {background: url("../img/icons_vertical.png") no-repeat 100% -155px;}
ul#search-pagination a.previous {background: url("../img/icons_vertical.png") no-repeat 100% -185px;}
ul#search-pagination a.next {background: url("../img/icons_vertical.png") no-repeat 100% -245px;}
ul#search-pagination a.last {background: url("../img/icons_vertical.png") no-repeat 100% -215px;}

ul#search-pagination a.first,
ul#search-pagination a.previous,
ul#search-pagination a.next,
ul#search-pagination a.last {
	opacity: 0.5;
}
ul#search-pagination a.first:hover,
ul#search-pagination a.previous:hover,
ul#search-pagination a.next:hover,
ul#search-pagination a.last:hover {
	opacity: 1;
}

/* ================================================================== */
/* Detail - pages */ 
/* ================================================================== */

#detail .page-title {
	display: inline;
	text-transform: capitalize;
}

#detail {
	padding-bottom: 20px;
}

#detail  a.star{
	position: relative;
	top: -15px;
	background: url("../img/icons_vertical.png") no-repeat -5px -270px;
	opacity: 0.5;
	padding: 0 0 14px 18px;
	font-size: 9px;
}
	#detail  a.star:hover{
		opacity: 1;
	}

#detail .author{
	display: inline;
	padding-left: 10px;
}
	#detail .author a{
		font-style: italic;
		font-weight: normal;
	}

#detail-left {
	padding-top: 20px;
}

.detail-image {
	position: relative;
	display: block;
	width: 280px;
	height: 280px;
}

.checker {
	opacity: 0;
	position: absolute;
	width: 280px;
	height: 280px;
	-moz-transition: opacity 0.3s ease-in-out 0.3s;
	background: url("../img/image-hover-bg.png") repeat;
}

	.detail-image:hover .checker {
		opacity: 0.08;
	}
	
	.detail-image img {
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

#detail .download {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.detail-button {
	position: relative;
	width: 280px;
	display: block;
	padding-top: 20px;
}

#upload .upload-button,
#detail .download .button {
		display: inline;
		color: white;
		font-style: italic;
		font-size: 22px;
		font-weight: bold;
		background-color: #e70000;
		border: 0;
		border-radius: 5px;
		box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
		padding: 2px 8px 4px 8px;
		-moz-transition: background 0.2s ease-in-out 0s;
}
	#upload .upload-button:hover,
	#detail .download:hover .button {
			background-color: #333;
			font-weight: normal;
	}

#detail-edit {
	text-align: center;
	padding-top: 10px;
	width: 280px;
}

#detail-edit li {
	display: inline;
}

#detail-edit li,
#detail-edit li a{
	color: #e70000;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
}
	
	#detail-edit li a:hover {font-weight: bold;}
	#detail-edit li:after {content: " |"}
	#detail-edit li.export:after {content: ""}  

#detail-edit li.export a {
	padding-right: 16px;
	background: url("../img/icons_vertical.png") no-repeat right -334px;
}  
#detail-edit li:hover.export a {
	padding-right: 16px;
	background: url("../img/icons_vertical.png") no-repeat right -304px;
}

#export-form {
	opacity: 0;
	display: inline;
	box-shadow: 0px 8px 2px lightgray; 
	border-radius: 3px;
}

li.export:hover #export-form,
li.export #export-form:hover {
	opacity: 1;
} 

#export-form #dimension-i {
	border: 1px solid #bebebe;
	border-radius: 3px 0 0 3px;
	padding: 0 4px 4px 0;
	color: #bebebe;
	font-family: "asap";
	text-align: center;
}
#export-form #e-button {
	font-family: "asap";
	color: white;
	background: #e70000;
	font-weight: bold;
	font-style: italic;
	border: 0px transparent;
	border-radius: 0 3px 3px 0;
	padding: 0px 4px 3px 2px;
	margin-left: -5px; 
}

.collection-list li,
.tag-list li {
	display: inline;
}

a.collection,
a.tag {
	color: #808080;
	background: rgba(179,179,179, 0.26);
	border-radius: 7px;
	font-weight: normal;
	font-style: italic;
	padding: 2px 7px 3px 7px;
	margin-right: 4px;
	line-height: 2.1;
	white-space: nowrap;
}
a.tag.system {
    font-weight: bold;
}
	a.collection:hover,
	a.tag:hover {
		background: white;
		font-weight: bold;
		cursor: pointer;
		color: #333;
	}

	a.collection:hover {
		background: rgba(55,55,55, 0.75);
		color: white;
	}

a.collection.add,
a.tag.add {
	color: #808080;
	background: none;
	border: 1px solid rgba(0,0,0,0.05);
	-moz-transition: border 0.2s ease-in-out 0s;
}
	a.collection.add:hover,
	a.tag.add:hover {
		border: 1px solid rgba(0,0,0,0.3);
		font-weight: normal;
	}
	
a.collection {
	color: white;
	background: rgba(55,55,55,0.25);
}

p.description {
	font-style: italic;
	font-size: 14px;
}
	p.description:before,
	p.description:after {
		content: '"';
	}

#detail-right table {
	width: 100%;
}
	#detail-right table tr:nth-of-type(2n) {
		background: rgba(255,255,255,0.3);
	}
	#detail-right table td:last-of-type  {
		text-align: right;
	}
	#detail-right table td  {
		padding: 2px 4px;
		font-size: 14px;
	}

#detail-right caption {
	display: inline;
	text-align: left;
	font-weight: normal;
	padding: 0 16px 4px 0;
	background: url("../img/icons_vertical.png") no-repeat 100% -6px;
}

.report {
	font-style: italic;
	position: relative;
	right: -273px;
}

/* ================================================================== */
/* Comments */
/* ================================================================== */

#comments .comments-title {
	display: block;
	padding: 0 16px 0 0;
	background: url("../img/horizontal-separator.png") repeat-x top left;
}
	
#comments h2 {
	background: url("../img/icons_vertical.png") no-repeat 100% -3px;
	padding-right: 19px;
	margin: 0;
	display: inline;
}
	
#comments .comment {
	display: block;
	overflow: hidden;
	padding: 10px 0 30px 0;
	background: url("../img/horizontal-separator.png") repeat-x top left;
}

#comments .comment-body p{
	padding-left: 25px;
}

#comments .comment .controls {
	diplay: block;
	text-align: right;
}

#comments form {
	text-align: right;
}

#comments form textarea {
	background: #fafafa;
	font-family: 'asap',sans-serif;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #bebebe;
	padding: 5px;
}

#comments form textarea:hover {
	color: #808080;
}

.add-button,
#comments form input {
	font-style: italic;
	cursor: pointer;
	font-family: Asap, sans-serif;
}

.add-button:hover,
#comments form input:hover {
	color: #333;
	font-weight: bold;
}

/* ================================================================== */
/* Upload - page */
/* ================================================================== */

.green-hook {
	background: url("../img/upload-icons.png") top left no-repeat;
	position: absolute;
	width: 50px;
	height: 80px;
	right: 0px;
	top: -12px;
}

#upload-notice {
	position: relative;
	background: white;
	border-radius: 8px;
	padding: 17px 28px;
	box-shadow: 3px 3px 4px rgba(0,0,0, 0.13);
	width: 500px;
	left: 30px;
}

#upload-notice h2 {
	color: #333;
}

#upload-notice h3 {
	font-size: 14px;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#upload-notice .author-notice,
#upload-notice .trademark-notice,
#upload-notice .pd-notice {
	padding-left: 60px;
	background: url("../img/upload-icons.png") top left no-repeat;
	min-height: 80px;
	display: block;
}
#upload-notice .author-notice {background-position: left -116px;}
#upload-notice .trademark-notice {background-position: left -316px;}
#upload-notice .pd-notice {background-position: left -216px;}

p.upload-details {
	margin: 20px 0 20px 60px;
	width: 470px;
}

#upload-notice .green-hook {
	top: -22px;
	right: -17px;
}

.upload-step {
	background: url("../img/upload-separator.png") top center no-repeat;
	position: relative;
	padding: 25px 0 5px;
}

	.upload-step span{
		width: 90px;
		font-weight: bold;
		text-align: right;
		font-size: 18px;
	}
	
	.upload-step p {
		padding-top: 3px;
	}
	
	.upload-step .svg-note {
		padding-left: 60px;
		background: url("../img/upload-icons.png")  left -417px no-repeat;
		height: 53px;
		width: 400px !important;
	}

.step-add {
	text-align: center;
}

.upload-finished textarea,
.upload-new textarea {
	font-family: asap, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	padding: 3px 0 0 3px;
}

.upload-new textarea {
	color: gray;
	font-style: italic;
}

.nsfw-check {
	font-weight: bold;
	font-size: 12px;
	color: #b0b0b0;
	text-align: right;
}

.upload-button {
	margin-top: 20px;
	cursor: pointer;
	font-family: Asap, sans-serif;
}


/* ================================================================== */
/* Login popup */
/* ================================================================== */
	
#login-popup-window {
	position: absolute;
	width: 445px;
	height: auto;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: rgba(0,0,0,0.1);
	border-radius: 20px;
}

#tab-login,
#tab-register {
	position: relative;
	background: white;
	padding: 10px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	margin: 25px;
	width: 375px;
}

.popup-content .question {
	position: absolute;
	background: #ececec;
	top: 0;
	right: 0;
	padding: 8px 12px;
	text-align: right;
	border-radius: 0 4px 0 0;
	font-size: 18px;
}

.popup-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: url("../img/icons_vertical.png") right -390px no-repeat;
	z-index: 100;
}
	.popup-close:hover {
		background: url("../img/icons_vertical.png") right -420px no-repeat;
	}
	
.popup-content span {
	display: block;
}

.popup-content textarea {
	margin-bottom: 10px;
}

.popup-content input {
	margin: 10px 0;
	display: block;
}

.popup-content .login-alternative {
	border-top: 2px dashed #b0b0b0;
	margin: 30px 0 9px;
}

#login-popup-window .login-alternative h2 {
	position: relative;
	top: -15px;
	background: white;
	display: inline;
	padding-right: 8px;
}

a.lost-password {
	vertical-align: top;
	font-style: italic;
}
input.remember-me {
	display: inline;
}

span.picatcha_td {
	display: inline;
}

/* tabs */

.question label {
	color: #b0b0b0;
	font-weight: bold;
	cursor: pointer;
	padding-left: 4px;
	font-style: italic;
}

.question label:hover {
	color: #333;
	font-weight: bold;
	cursor: pointer;
}

#login-popup-window #tab-login,
#login-popup-window #tab-register {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
}

#login-popup-window input.tab-selector-1:checked ~ .popup-content #tab-login,
#login-popup-window input.tab-selector-2:checked ~ .popup-content #tab-register {
    opacity: 1;
    z-index: 50;
    position: relative;
}

/* ================================================================== */
/* Footer */
/* ================================================================== */
	
#footer {
	padding: 10px 0 20px 0;
	text-align: center;
	background: url("../img/footer-bg.png") top center no-repeat;
}

	#footer li {display: inline;}
	#footer a {font-weight: normal;}
	#footer a:hover {font-weight: bold;}

	#footer em a{
		font-weight: bold;
	}
	#footer li:after {
       content: ",";
       margin-right: 4px;
   }
    #footer :last-child:after {
       content: "";
    }
