@font-face {
    font-family: 'AsapRegular';
    src: url('../fonts/Asap-Regular-webfont.eot');
    src: url('../fonts/Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Asap-Regular-webfont.woff') format('woff'),
         url('../fonts/Asap-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Asap-Regular-webfont.svg#AsapRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AsapItalic';
    src: url('../fonts/Asap-Italic-webfont.eot');
    src: url('../fonts/Asap-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Asap-Italic-webfont.woff') format('woff'),
         url('../fonts/Asap-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Asap-Italic-webfont.svg#AsapItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AsapBold';
    src: url('../fonts/Asap-Bold-webfont.eot');
    src: url('../fonts/Asap-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Asap-Bold-webfont.woff') format('woff'),
         url('../fonts/Asap-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Asap-Bold-webfont.svg#AsapBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AsapBoldItalic';
    src: url('../fonts/Asap-BoldItalic-webfont.eot');
    src: url('../fonts/Asap-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Asap-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Asap-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Asap-BoldItalic-webfont.svg#AsapBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	color: #808080;
	background: url("../img/noise_64.png") center;
	background: url("../img/noise_top_64.png") top center repeat-x, url("../img/noise_64.png") center;
}

a {
	text-decoration: none;
	font-family: "AsapBold", Arial, sans-serif;
	color: #808080;
	    -ms-transition: color 0.25s ease 0s;
	-webkit-transition: color 0.25s ease 0s;
	   -moz-transition: color 0.25s ease 0s;
	     -o-transition: color 0.25s ease 0s;
	        transition: color 0.25s ease 0s;
	    -ms-transition: background-color 0.25s ease-in-out 0s;
	-webkit-transition: background-color 0.25s ease-in-out 0s;
	   -moz-transition: background-color 0.25s ease-in-out 0s;
	     -o-transition: background-color 0.25s ease-in-out 0s;
	        transition: background-color 0.25s ease-in-out 0s;

}

	a:hover {
		color: #333;
	}

#left {
	position: relative;
}

#right {
	padding: 35px 0 80px 0;
}

.content {
	padding-top: 25px;
} 

#notification a {
	position: absolute;
	z-index: 99999;
	top: 75px;
	left: 312px;
	color: #e70000;
	z-index: 1;
	width: 300px;
}
	#notification span {
		position: absolute;
		text-align: center;
		height: 30px;
		width: 30px;
		color: white;
		font-family: "AsapBold", Arial, sans-serif;
		padding: 0;
		background: url("../img/icons_vertical.png") no-repeat 0px -484px;
	}
	#notification p {
		padding-left: 30px;
		font-family: "AsapItalic", Arial, sans-serif;
	}

#site-title {
	font-size: 26px;
	font-family: "AsapBoldItalic", Arial, sans-serif;
	color: #333;
	position: absolute;
	top: 27px;
	left: 80px;
	width: 245px;
}

#logo {
	position: absolute;
	top: 26px;
	left: -11px;
	z-index: 5;
}

	#logo-glow {
		position: absolute;
		top: -60px;
		left: -150px;
		width: 324px;
		height: 376px;
		background: url("../img/logo-glow.png") top center no-repeat;
		background-size: 100%;
	}

	#logo-shadow {
		position: absolute;
		top: 65px;
		left: -30px;
		width: 135px;
		height: 81px;
		background: url("../img/logo-shadow.png") top center no-repeat;
		background-size: 100%;
		z-index: 4;
	}

#top-search {
	position: absolute;
	top: 70px;
	left: 40px;
	width: 400px;
}

	#search-i {
		width: 158px;
		height: 24px;
		border: 1px solid #c0c0c0;
		padding-left: 50px;
		color: #bebebe;
		font: 'Asap', sans serif;
		font-size: 16px;
		font-family: "AsapItalic", Arial, sans-serif;
		background-color: white;
	}
	
	#s-button {
		width: 45px;
		height: 28px;
		margin: 0 0 0 -4px;
		background-image: url("../img/icon-search2.png"); /* 45px x 28px */
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;        /* make the cursor like hovering over an <a> element */
		height: 28px;
		padding-left: 16px;     /* make text start to the right of the image */
		vertical-align: bottom;
		}
		
	#s-button:hover {
		background-position: -45px 0px;
	}
	
#main-menu {
	font-size: 20px;
	line-height: 36px;
	list-style-type: none;
	margin: 0 0 -100px;
	padding: 124px 0 120px 0;
	background: url("../img/menu-bg.png") no-repeat scroll 30px bottom;
	position: relative;
}
	
	#main-menu a 		{font-family: "AsapRegular", Arial, sans-serif; text-transform: uppercase; }
	#main-menu a:hover	{font-family: "AsapBold", Arial, sans-serif;}
	
	#main-menu li {
		margin-left: 81px;
	}
	
	#main-menu li.active a {
		color: #333;
		font-family: "AsapBold", Arial, sans-serif;
	}

#main-menu li ul li {
    margin: 0 0 0 -24px;
}

#icon-bar {
	margin: -160px  0 0 50px;
	padding: 0 0 130px 0;
	bottom: 0;
	position: relative;
}

	#icon-bar li a {
		margin-right: 4px;
		height: 30px;
		width: 30px;
		position: relative;
		float: left;
		background: url("../img/icons.png") no-repeat scroll 0px top;
	}
	
	#icon-bar li a.identica			{background-position: 0px top;}
	#icon-bar li a:hover.identica	{background-position: 0px bottom;}
	#icon-bar li a.twitter 			{background-position: -30px top;}
	#icon-bar li a:hover.twitter 	{background-position: -30px bottom;}
	#icon-bar li a.googleplus		{background-position: -60px top;}	
	#icon-bar li a:hover.googleplus	{background-position: -60px bottom;}	
	#icon-bar li a.facebook			{background-position: -90px top;}	
	#icon-bar li a:hover.facebook	{background-position: -90px bottom;}	
	#icon-bar li a.diaspora			{background-position: -120px top;	}	
	#icon-bar li a:hover.diaspora	{background-position: -120px bottom;}	
	#icon-bar li a.share-more		{background-position: -150px top;	}	
	#icon-bar li a:hover.share-more	{background-position: -150px bottom;}	

	#icon-bar li:nth-child(1) a {margin-top: 83px;}
	#icon-bar li:nth-child(2) a {margin-top: 63px;}
	#icon-bar li:nth-child(3) a {margin-top: 45px;}
	#icon-bar li:nth-child(4) a {margin-top: 24px;}
	#icon-bar li:nth-child(5) a {margin-top: 5px;}
	#icon-bar li:nth-child(6) a {margin-top: -15px;}

.sidebar-block {
	padding: 0;
	line-height: 1.5;
	font-size: 14px;
}
	.sidebar-block a 		{font-family: "AsapRegular", Arial, sans-serif;}
	.sidebar-block a:hover	{font-family: "AsapBold", Arial, sans-serif;}

	.sidebar-block div {
		padding-left: 78px;
	}	

.sidebar-block .accordion-container {
	margin: 0;
}

.sidebar-block .accordion-container label {
	font-size: 18px;
	background: url("../img/icons_vertical.png") no-repeat 100% -34px;
}

.sidebar-block .accordion-container input:checked + label,
.sidebar-block .accordion-container input:checked + label:hover {
	background: url("../img/icons_vertical.png") no-repeat 100% -4px;
}

.sidebar-block .accordion-container input.hidden {
	display: none;
}

.sidebar-block .accordion-container .accordion-content {
	padding: 10px 0 20px 0;
}

#social-network-iframes iframe{
	padding-left: 39px;
	opacity: 0.5;
	    -ms-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
	     -o-transition: opacity 0.2s ease-in-out 0s;
	   -moz-transition: opacity 0.2s ease-in-out 0s;
	        transition: opacity 0.2s ease-in-out 0s;
}
	#social-network-iframes iframe:hover {
		opacity: 1;
}

#licence-info {
	text-align: right;
	font-family: "AsapItalic", Arial, sans-serif;
	padding-right: 5px;
}
	#licence-info a {
		vertical-align: middle;
		font-family: "AsapItalic", Arial, sans-serif;
	}
	
	#licence-info a:hover {
		font-family: "AsapBoldItalic", Arial, sans-serif;
	}

#licence-info span {
	display: block;
	opacity: 0;
	    -ms-transition: opacity 0.5s ease-in-out 0s;
	-webkit-transition: opacity 0.5s ease-in-out 0s;
	     -o-transition: opacity 0.5s ease-in-out 0s;
	   -moz-transition: opacity 0.5s ease-in-out 0s;
	        transition: opacity 0.5s ease-in-out 0s;
}

	#licence-info:hover span {
		opacity: 1;
		font-family: "AsapItalic", Arial, sans-serif;
	}

#donation-buttons {
	text-align: center;
	padding-top: 5px;
}

#login-register-language {
	text-align: right;
	    -ms-transition: opacity 0.25s ease-in-out 0s;
	-webkit-transition: opacity 0.25s ease-in-out 0s;
	     -o-transition: opacity 0.25s ease-in-out 0s;
	   -moz-transition: opacity 0.25s ease-in-out 0s;
	        transition: opacity 0.25s ease-in-out 0s;
	opacity: 0.35;
	position: absolute;
}

	.search-template #login-register-language {
		position: relative;
	}

	#login-register-language:hover 		{opacity: 1;}
	#login-register-language a 			{font-family: "AsapRegular", Arial, sans-serif;}
	#login-register-language a:hover	{font-family: "AsapBold", Arial, sans-serif;}

#login-register-language ul {
	position: absolute;
	right: 0;
	margin-top: 10px;
	border: 1px solid #adadad;
	border-radius: 3px;
	background-color: rgba(200,200,200,0.75);
	display: block;
	z-index: 200;
}

	#login-register-language ul:hover {
		background-image:none;
	}

	#login-register-language li a {
		display: none;
		padding: 6px 18px 6px 4px;
		line-height: 1;
		white-space: nowrap;
	}

	#login-register-language ul:hover li a {
		display: block;
	}
	#login-register-language ul:hover li a:hover {
		background: url("../img/icons_vertical.png") right -32px no-repeat;
	}

	#login-register-language li.active a {
		display: inline;
		background: url("../img/icons_vertical.png") right 0px no-repeat;
		padding-right: 20px;
	}

	#login-register-language ul:hover li.active a,
	#login-register-language li.active a:hover	{
		background: url("../img/icons_vertical.png") right -32px no-repeat;
		font-family: "AsapBold", Arial, sans-serif;
		color: #333;
	}

.text a {
	font-family: "AsapBoldItalic", Arial, sans-serif;
	white-space: nowrap;
}

.text ul {
	margin: 15px 0 15px 20px;
} 
.text ul li{
	list-style: disc;
	padding: 0 0 20px;
} 

h2 {
	margin: 20px 0 5px 0;
}

.text p {
	margin-bottom: 10px;
}

/* ================================================================== */
/* Front - page */
/* ================================================================== */

#front-banner {
	min-height: 134px;
	text-align: center;
	background: url("../img/front-banner_bg.png") no-repeat center bottom;
	font-family: "AsapBold";
	font-size: 26px;
	text-shadow: 0px 1px 0 white;
	padding: 0 0 20px;
	margin: -10px 0px 36px;
}

	#front-banner a {
		font-family: "AsapBoldItalic";
		color: #e70000;
	}
	
	#front-banner a:hover {
		text-shadow: 0px 1px 0 white, 0px 0px 20px white;
		color: #ff3131;
	}
	
	#front-banner p {
		padding: 0px;
		margin: 0;
	}

#front-left {
	background: url("../img/vertical-separator.png") repeat-y 308px;
	
}

#front-right h2,
#front-left h2 {
	padding: 0 0 15px 15px;
}

.thumbnail {
	position: relative;
	float: left;
	margin: 0 22px 110px 22px;
	width: 100px;
}

.thumbnail-title {
	text-transform: lowercase;
	font-family: "AsapRegular", Arial, sans-serif;
	text-align: center;
	line-height: 1;
	display: block;
	margin: 5px -12px -35px;
	height: 0;
}
	.thumbnail:hover .thumbnail-title {
		font-family: "AsapBold", Arial, sans-serif;
	}

.thumbnail-image {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
}

.thumbnail-image img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.thumbnail .popup {
    position: absolute;
    top: -60px;
    left: -60px;
    background: white;
    z-index: 200;
    -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
       -moz-box-shadow: 0 0 20px #aaa;
	-webkit-box-shadow: 0 0 20px #aaa;
	     -o-box-shadow: 0 0 20px #aaa;
	        box-shadow: 0 0 20px #aaa;
    width: 220px;
    text-align: center;
    padding: 5px;
    display: none;
}

.thumbnail:hover .popup {
    display: block;
}

.thumbnail .popup {
        opacity: 0;
        -ms-transition: opacity 0.25s ease-in 0.4s;
    -webkit-transition: opacity 0.25s ease-in 0.4s;
         -o-transition: opacity 0.25s ease-in 0.4s;
       -moz-transition: opacity 0.25s ease-in 0.4s;
            transition: opacity 0.25s ease-in 0.4s;
}
.thumbnail .popup:hover {
    opacity: 1;
}

	.thumbnail .popup .box {
	    width: 200px;
	    height: 200px;
    	position: relative;
    	margin: 0 auto;
    	padding: 10px 0;
	}
	
		.thumbnail .popup .box img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}

	.thumbnail .popup .star {
	    position: absolute;
	    top: 3px;
	    background: url("../img/icons_vertical.png") no-repeat -5px -450px;
	    padding: 0 0 14px 18px;
	    font-size: 9px;
	    right: 6px;
	    font-family: "AsapBold", Arial, sans-serif;
	    z-index: 10;
	}
	
		.thumbnail .popup .star:hover {
			background: url("../img/icons_vertical.png") no-repeat -5px -270px;
		}
	
	.popup .title {
	    display: block;
	    color: #333;
	    font-size: 22px;
	    line-height: 1;
	    text-transform: capitalize;
	    font-family: "AsapBold", Arial, sans-serif;
	}
	
	.popup .author {
	    font-family: "AsapItalic", Arial, sans-serif;
	    font-size: 14px
	}
	
	.popup p {
	    margin: 0;
	    font-size: 14px;
	}


/* ================================================================== */
/* Search - page */
/* ================================================================== */

#container.search-template {	
	margin-left: 18px;
	width: auto;
	float: none;
}

#container.search-template #right.grid_16 {
	float: none;
	display: block;
	width: auto;
}

.search-template #footer{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

#search {
	padding-top: 90px;
}

#search h1 {
	display: inline;
	clear: both;
}

#search h1 + em{
	font-family: "AsapBoldItalic", Arial, sans-serif;
	font-size: 22px;
	color: #333;
	clear: both;
}

.download-button {
	display: block;
}

	.download-button a {
		color: white;
		font-family: "AsapBoldItalic", Arial, sans-serif;
		background-color: #e70000;
		border-radius: 5px;
		box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
		padding: 2px 8px 4px 8px;
		top: 4px;
	}
	
	.download-button a:hover {
		background-color: #333;
		font-family: "AsapItalic", Arial, sans-serif;
	}
	
	.download-button p {
		position: absolute;
		margin-left: 5px;
		display: inline;
		opacity: 0;
		    -ms-transition: opacity 0.5s ease-in-out 0s;
		-webkit-transition: opacity 0.5s ease-in-out 0s;
		     -o-transition: opacity 0.5s ease-in-out 0s;
		   -moz-transition: opacity 0.5s ease-in-out 0s;
		        transition: opacity 0.5s ease-in-out 0s;
	}
		
	.download-button:hover p {opacity: 1;}


#results {
	text-align: center;
}
	
#result-search {
	box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.10);
	border-radius: 3px;
	margin: 0 auto 20px auto;
	text-align: center;
	display: inline;
}

#results-container {
	padding-top: 65px;
}

	#result-search #search-i {
		border-radius: 3px 0 0 3px;
		height: 26px;
		width: auto;
		padding: 0;
		text-align: center;
	}
	
#result-navigation {
	background: url("../img/search-navigation-bg.png") no-repeat bottom center transparent;
	text-align: center;
	padding: 2px 0 10px 0;
	margin: 10px 0 0 300px;
}

	#result-navigation .title {
		font-family: "AsapBold", Arial, sans-serif;
		display: inline;
		background: url("../img/icons_vertical.png") no-repeat 100% -36px;
		padding-right: 14px;
	}

#search-sort {
	width: 200px;
	height: 22px;
	overflow: hidden;
	margin: 0 auto;
	    -ms-transition: width 0.5s ease-in-out 0s;
	-webkit-transition: width 0.5s ease-in-out 0s;
	     -o-transition: width 0.5s ease-in-out 0s;
	   -moz-transition: width 0.5s ease-in-out 0s;
	        transition: width 0.5s ease-in-out 0s;
}
	#search-sort:hover {
		width: 500px;
	}

#search-sort .details {
	opacity: 0;
	display: none;
}
	#search-sort:hover .details {
		opacity: 1;
		width: 400px;
		display: inline;
	}

#search-sort .details a{
	background: url("../img/icons_vertical.png") no-repeat 100% -36px;
	padding-right: 13px;
	font-family: "AsapItalic", Arial, sans-serif;
} 
	#search-sort .details a:hover {font-family: "AsapBoldItalic", Arial, sans-serif;} 
	
	#search-sort a.date,
	#search-sort a.downloads		{background-position: 100% -127px;}
	#search-sort a.active			{background-position: 100% -67px;	}

#search-sort a.color {
	border-radius: 3px;
	background-image: none;
	border: 1px solid transparent;
	box-shadow: 0px 0px 1px gray;
	opacity: 0.5;
	font-size: 10px;
	padding-right: 10px;
}
	#search-sort a.active.color,
	#search-sort a.color:hover	{
		opacity: 1;
		border-color: black;
	}
	
#search-sort .color.red 	{background-color: red;}
#search-sort .color.blue 	{background-color: blue;}
#search-sort .color.yellow 	{background-color: yellow;}
#search-sort .color.green 	{background-color: green;}
#search-sort .color.black 	{background-color: black;}
#search-sort .color.white 	{background-color: white;}

#result-list {
	padding: 15px 0 0 300px;
}

ul#search-pagination {
	margin: 2px 0 6px 0;
}

ul#search-pagination li {
	display: inline;
}

ul#search-pagination li a{
	font-family: "AsapRegular", Arial, sans-serif;
	width: 20px;
	display: inline-block;
	position: relative;
}
	ul#search-pagination li a:hover{
		font-family: "AsapBold", Arial, sans-serif;
	}

ul#search-pagination a.first {background: url("../img/icons_vertical.png") no-repeat 100% -155px;}
ul#search-pagination a.previous {background: url("../img/icons_vertical.png") no-repeat 100% -185px;}
ul#search-pagination a.next {background: url("../img/icons_vertical.png") no-repeat 100% -245px;}
ul#search-pagination a.last {background: url("../img/icons_vertical.png") no-repeat 100% -215px;}

ul#search-pagination a.first,
ul#search-pagination a.previous,
ul#search-pagination a.next,
ul#search-pagination a.last {
	opacity: 0.5;
}
ul#search-pagination a.first:hover,
ul#search-pagination a.previous:hover,
ul#search-pagination a.next:hover,
ul#search-pagination a.last:hover {
	opacity: 1;
}

/* ================================================================== */
/* Detail - pages */ 
/* ================================================================== */

#detail .page-title {
	display: inline;
	text-transform: capitalize;
}

#detail {
	padding-bottom: 20px;
}

#detail  a.star{
	position: relative;
	top: -15px;
	background: url("../img/icons_vertical.png") no-repeat -5px -450px;
	padding: 0 0 14px 18px;
	font-size: 9px;
}
	#detail  a.star:hover{
		background: url("../img/icons_vertical.png") no-repeat -5px -270px;
	}

#detail .author{
	display: inline;
	padding-left: 10px;
}
	#detail .author a{
		font-family: "AsapItalic", Arial, sans-serif;
	}
	#detail .author a:hover{
		font-family: "AsapBoldItalic", Arial, sans-serif;
	}

#detail-left,
#detail-right {
	padding-top: 20px;
}

.detail-image {
	position: relative;
	display: block;
	width: 280px;
	height: 280px;
}

.checker {
	opacity: 0;
	position: absolute;
	width: 280px;
	height: 280px;
	    -ms-transition: opacity 0.3s ease-in-out 0.3s;
	-webkit-transition: opacity 0.3s ease-in-out 0.3s;
	     -o-transition: opacity 0.3s ease-in-out 0.3s;
	   -moz-transition: opacity 0.3s ease-in-out 0.3s;
	        transition: opacity 0.3s ease-in-out 0.3s;
	background: url("../img/image-hover-bg.png") repeat;
}

	.detail-image:hover .checker {
		opacity: 0.08;
	}
	
	.detail-image img {
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

#detail .download {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.detail-button {
	position: relative;
	width: 280px;
	display: block;
	padding-top: 20px;
}

#upload .upload-button,
#detail .download .button {
		display: inline;
		color: white;
		font-family: "AsapBoldItalic", Arial, sans-serif;
		font-size: 22px;
		background-color: #e70000;
		border: 0;
		border-radius: 5px;
		box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
		padding: 2px 8px 4px 8px;
		    -ms-transition: background 0.2s ease-in-out 0s;
		-webkit-transition: background 0.2s ease-in-out 0s;
		     -o-transition: background 0.2s ease-in-out 0s;
		   -moz-transition: background 0.2s ease-in-out 0s;
		        transition: background 0.2s ease-in-out 0s;
}
	#upload .upload-button:hover,
	#detail .download:hover .button {
			background-color: #333;
			font-family: "AsapItalic", Arial, sans-serif;
	}

#detail-edit {
	text-align: center;
	padding-top: 10px;
	width: 280px;
}

#detail-edit li {
	display: inline;
}

#detail-edit li,
#detail-edit li a{
	color: #e70000;
	font-size: 18px;
	font-family: "AsapItalic", Arial, sans-serif;
}
	
	#detail-edit li a:hover {font-family: "AsapBoldItalic", Arial, sans-serif;}
	#detail-edit li:after {content: " |"}
	#detail-edit li.export:after {content: ""}  


#detail-edit .accordion-container label {
	padding-right: 16px;
	font-family: "AsapItalic", Arial, sans-serif;
	background: url("../img/icons_vertical.png") no-repeat right -334px;
}  
#detail-edit .accordion-container label:hover {
	color: #E70000;
	font-family: "AsapBoldItalic", Arial, sans-serif;
}  

#detail-edit .accordion-container input:checked + label,
#detail-edit .accordion-container input:checked + label:hover {
	background: url("../img/icons_vertical.png") no-repeat right -304px;
	font-family: "AsapBold", Arial, sans-serif;
}

li.export:hover #export-form,
li.export #export-form:hover {
	opacity: 1;
} 

#export-form #dimension-i {
	border: 1px solid #bebebe;
	border-radius: 3px 0 0 3px;
	padding: 2px 4px 4px 0;
	color: #bebebe;
	font-family: "AsapRegular", Arial, sans-serif;
	text-align: center;
}

#export-form #e-button {
	color: white;
	background: #e70000;
	font-family: "AsapBoldItalic", Arial, sans-serif;
	border: 0px transparent;
	border-radius: 0 3px 3px 0;
	padding: 2px 4px 3px 2px;
	margin-left: -5px; 
}

	#export-form #e-button:hover {
		color: white;
		background: #333;
		font-family: "AsapItalic", Arial, sans-serif;
			-ms-transition: background 0.2s ease-in-out 0s;
		-webkit-transition: background 0.2s ease-in-out 0s;
		     -o-transition: background 0.2s ease-in-out 0s;
		   -moz-transition: background 0.2s ease-in-out 0s;
		        transition: background 0.2s ease-in-out 0s;
	}

.collection-list li,
.tag-list li {
	display: inline;
}

.collection-list a:hover img {
	background: rgba(255,255,255, 0.5);
} 

a.collection,
a.tag {
	color: #808080;
	background: rgba(179,179,179, 0.26);
	border-radius: 7px;
	font-family: "AsapItalic", Arial, sans-serif;
	padding: 2px 7px 3px 7px;
	margin-right: 4px;
	line-height: 2.1;
	white-space: nowrap;
}
a.tag.system {
    font-family: "AsapBold", Arial, sans-serif;
}
	a.collection:hover,
	a.tag:hover {
		background: white;
		font-family: "AsapBoldItalic", Arial, sans-serif;
		cursor: pointer;
		color: #333;
	}

	a.collection:hover {
		background: rgba(55,55,55, 0.75);
		color: white;
	}

a.collection.add,
a.tag.add {
	color: #808080;
	background: none;
	border: 1px solid rgba(0,0,0,0.05);
	    -ms-transition: border 0.2s ease-in-out 0s;
	-webkit-transition: border 0.2s ease-in-out 0s;
	     -o-transition: border 0.2s ease-in-out 0s;
	   -moz-transition: border 0.2s ease-in-out 0s;
	        transition: border 0.2s ease-in-out 0s;
}
	a.collection.add:hover,
	a.tag.add:hover {
		border: 1px solid rgba(0,0,0,0.3);
		font-family: "AsapBoldItalic", Arial, sans-serif;
	}
	
a.collection {
	color: white;
	background: rgba(55,55,55,0.25);
}

p.description {
	font-family: "AsapItalic", Arial, sans-serif;
	font-size: 14px;
}
	p.description:before,
	p.description:after {
		content: '"'; /* " I need this to fix highlight in Emacs*/
	}

#detail-right table {
	width: 100%;
}
	.zebra tr:nth-of-type(2n) {
		background: rgba(255,255,255,0.3);
	}
	.zebra td:last-of-type  {
		text-align: right;
	}
	.zebra td  {
		padding: 2px 4px;
		font-size: 14px;
	}

#detail-right caption {
	display: inline;
	text-align: left;
	font-family: "AsapRegular", Arial, sans-serif;
	padding: 0 16px 4px 0;
}

.report {
	font-family: "AsapBoldItalic", Arial, sans-serif;
	position: relative;
	right: -273px;
}

.accordion-container {
	margin-bottom: 20px;
	display: block;
}

	#detail-edit .export .accordion-container {
		display: inherit;
	}

.accordion-container label {
	cursor: pointer;
	font-family: "AsapBold", Arial, sans-serif;
	padding: 0 16px 8px 0;
	background: url("../img/icons_vertical.png") no-repeat 100% -36px;
}

.accordion-container label:hover {
	color: #333;
}

.accordion-container input:checked + label,
.accordion-container input:checked + label:hover {
	background: url("../img/icons_vertical.png") no-repeat 100% -6px;
}

.accordion-container input.hidden {
	display: none;
}

.accordion-container .accordion-content {
	overflow: hidden;
	height: 0;
	opacity: 0;
	position: relative;
	-moz-transition: opacity 0.5s ease-in-out 0s;
}

.accordion-container input:checked ~ .accordion-content {
	height: auto;
	opacity: 1;
}


/* ================================================================== */
/* Comments */
/* ================================================================== */

#comments .comments-title {
	display: block;
	padding: 0 16px 0 0;
	background: url("../img/horizontal-separator.png") repeat-x top left;
}
	
#comments h2 {
	margin: 0;
}
	
#comments .comment {
	display: block;
	overflow: hidden;
	padding: 10px 0 30px 0;
	background: url("../img/horizontal-separator.png") repeat-x top left;
}

#comments .comment-body p{
	padding-left: 25px;
}

.controls {
	diplay: block;
	text-align: right;
}

	.controls a {
		font-family: "AsapBoldItalic",Arial,sans-serif;
	}
	.controls a:after {
		content: " | ";
	}
	.controls a:last-child:after {
		content: "";
	}

#comments form {
	text-align: right;
}

#comments form textarea {
	background: #fafafa;
	font-family: "AsapRegular", Arial, sans-serif;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #bebebe;
	padding: 5px;
}

#comments form textarea:hover {
	color: #808080;
}

.add-button,
#comments form input {
	font-family: "AsapItalic", Arial, sans-serif;
	cursor: pointer;
}

.add-button:hover,
#comments form input:hover {
	color: #333;
	font-family: "AsapBoldItalic", Arial, sans-serif;
}

/* ================================================================== */
/* Upload - page */
/* ================================================================== */

.green-hook {
	background: url("../img/upload-icons.png") top left no-repeat;
	position: absolute;
	width: 50px;
	height: 80px;
	right: 0px;
	top: -12px;
}

#upload-notice {
	position: relative;
	background: white;
	border-radius: 8px;
	padding: 17px 28px;
	box-shadow: 3px 3px 4px rgba(0,0,0, 0.13);
	width: 500px;
	left: 30px;
}

#upload-notice h2 {
	color: #333;
	margin: 0 0 20px 0;
}

#upload-notice h3 {
	font-size: 14px;
	margin: 0;
	padding: 0;
	font-family: "AsapBold", Arial, sans-serif;
}

#upload-notice .author-notice,
#upload-notice .trademark-notice,
#upload-notice .pd-notice {
	padding-left: 60px;
	background: url("../img/upload-icons.png") top left no-repeat;
	min-height: 80px;
	display: block;
}
#upload-notice .author-notice {background-position: left -116px;}
#upload-notice .trademark-notice {background-position: left -316px;}
#upload-notice .pd-notice {background-position: left -216px;}

p.upload-details {
	margin: 20px 0 20px 60px;
	width: 470px;
}

#upload-notice .green-hook {
	top: -22px;
	right: -17px;
}

.upload-step {
	background: url("../img/upload-separator.png") top center no-repeat;
	position: relative;
	padding: 25px 0 5px;
}

	.upload-step > span{
		width: 90px;
		font-family: "AsapBold", Arial, sans-serif;
		text-align: right;
		font-size: 18px;
	}
	
	.upload-step p {
		padding-top: 3px;
	}
	
	.upload-step .svg-note {
		padding-left: 60px;
		background: url("../img/upload-icons.png")  left -417px no-repeat;
		height: 53px;
		width: 400px !important;
	}

.step-add {
	text-align: center;
}

.upload-finished textarea,
.upload-new textarea {
	font-family: "AsapRegular", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.2;
	padding: 3px 0 0 3px;
}

.upload-new textarea {
	color: gray;
	font-family: "AsapItalic", Arial, sans-serif;
}

.nsfw-check input:checked + span {
	color: #333;
}

.nsfw-check {
	font-family: "AsapBold", Arial, sans-serif;
	font-size: 12px;
	color: #b0b0b0;
	text-align: right;
}

.upload-button {
	margin-top: 20px;
	cursor: pointer;
	font-family: "AsapRegular", Arial, sans-serif;
}


/* ================================================================== */
/* Login popup */
/* ================================================================== */
	
#popup-window {
	position: absolute;
	width: 445px;
	height: auto;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: rgba(0,0,0,0.1);
	border-radius: 20px;
}

.pop-up-tab {
	position: relative;
	background: white;
	padding: 10px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	margin: 25px;
	width: 375px;
}

.popup-content .question {
	position: absolute;
	top: 0;
	right: 0;
	padding: 11px;
	text-align: right;
	border-radius: 0 4px 0 0;
	font-size: 18px;
}

.popup-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: url("../img/icons_vertical.png") right -390px no-repeat;
	z-index: 100;
}
	.popup-close:hover {
		background: url("../img/icons_vertical.png") right -420px no-repeat;
	}
	
.popup-content span {
	display: block;
}

.popup-content textarea {
	margin-bottom: 10px;
}

.popup-content input {
	margin: 10px 0;
	display: block;
}

.popup-content .login-alternative {
	border-top: 2px dashed #b0b0b0;
	margin: 30px 0 9px;
}

#popup-window .login-alternative h2 {
	position: relative;
	top: -15px;
	background: white;
	display: inline;
	padding-right: 8px;
}

a.lost-password {
	vertical-align: top;
	font-family: "AsapItalic", Arial, sans-serif;
}
input.remember-me {
	display: inline;
}

span.picatcha_td {
	display: inline;
}

/* tabs */

.question label {
	color: #b0b0b0;
	font-family: "AsapBoldItalic", Arial, sans-serif;
	cursor: pointer;
	padding-left: 4px;
}

.question label:hover {
	color: #333;
	cursor: pointer;
}

#popup-window #tab-login,
#popup-window #tab-register {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
}

#popup-window input.tab-selector-1:checked ~ .popup-content #tab-login,
#popup-window input.tab-selector-2:checked ~ .popup-content #tab-register {
    opacity: 1;
    z-index: 50;
    position: relative;
}

/* ================================================================== */
/* Profile */
/* ================================================================== */

#profile-info .avatar {
	float: left;
	padding: 0 10px 0 0;
}

#profile-info .username {
	font-size: 18px;
	display: block;
}

#profile-info .role,
#profile-info .join-date {
	display: block;
}

#profile-info table {
	clear: both;
	padding-bottom: 20px;
}

#profile-info td {
	padding: 4px 0;
}

#profile-info tr:last-child {
	opacity: 0.5;
	text-align: right;
}

#profile-info table:hover tr:last-child {
	opacity: 1;
}

.profile-form .update {
	display: block;
	text-align: center;
	padding-top: 20px;
	background: url("../img/horizontal-separator.png") top center repeat-x;
}

.profile-form .update input {
	color: #333;
	font-size: 14px;
	font-family: "AsapItalic", Arial, sans-serif;
}

.profile-form .update input:hover {
	font-family: "AsapBoldItalic", Arial, sans-serif;
}

.profile-form .radio-checkbox {
	color: #b3b3b3;
}

#stats .zebra {
	width: 100%;
	float: left;
	margin-right: 8px;
}

#achievements .zebra td{
	text-align: left;
	padding: 3px 4px 3px 26px;
	background: url("../img/icons_vertical.png") no-repeat -3px -362px;
}

/* ================================================================== */
/* Messages */
/* ================================================================== */

#message-table {width: 100%;}

#message-table tr:hover {
	background-color: rgba(255,255,255, 0.2);
	border-right: 2px solid #b0b0b0;
}
#message-table thead tr:hover {
	background-color: transparent;
	border: none;
}

#message-table tr .hidden {
	display: none;
}

#message-table tr.active .hidden {
	display: inherit;
}

#message-table .avatar img{
	padding-top: 15px;
}

#message-table .date .controls{
	padding-top: 9px;
}

#message-table thead th{
	padding: 0 0 10px;
}

#message-table th {
	text-align: left;
	font: 18px/1 "AsapBold"; 
}

#message-table .subject span {
	font-family: "AsapBoldItalic";
	padding-bottom: 5px;
	cursor: pointer;
}

#message-table td{
	padding: 3px 0;
}

#message-table .subject span:before ,
#message-table .subject span:after {
	content: '"';
}

#message-table .subject p {
	padding:  10px 15px 15px 15px;
}

#message-table .subject p img {
	float: left;
	padding-right: 10px;
}

#message-table .date span {
	padding: 0 23px 0 0;
}

#message-table .unread .date span {
	background: url("../img/icons_vertical.png") no-repeat right -516px;
}

#tab-message {
	position: relative;
	background: white;
	padding: 10px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	margin: 25px;
	width: 375px;
}

#message-popup-window h2{
	margin-top: 0px;
}

/* ================================================================== */
/* Footer */
/* ================================================================== */
	
#footer {
	padding: 10px 0 20px 0;
	text-align: center;
	background: url("../img/footer-bg.png") top center no-repeat;
}

	#footer li {display: inline;}
	#footer a {font-family: "AsapRegular", Arial, sans-serif;}
	#footer a:hover {font-family: "AsapBold", Arial, sans-serif;}

	#footer em a{
		font-family: "AsapBold", Arial, sans-serif;
	}
	#footer li:after {
       content: ",";
       margin-right: 4px;
   }
    #footer :last-child:after {
       content: "";
    }

#login-dialog, #register-dialog {
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#login-dialog .ui-widget-shadow {
	width: 302px;
	height: 152px;
	position: absolute;
	left: 50%;
	margin-left: -151px;
	top: 50%;
	margin-top: -76px;
}
#login-dialog .ui-widget-content {
	position: absolute;
	width: 280px;
	height: 130px;
	left: 50%;
	margin-left: -143px;
	top: 50%;
	margin-top: -68px;
	padding: 10px;
}
#login-dialog h3 {
	margin: 0 0 5px 11px;
}
#login-dialog #submit {
	width: auto;
	padding: 3px 15px;
	float: right;
	margin-top: 5px;
	cursor: pointer;
}
#login-dialog label {
	font-size: 14px;
	width: 78px;
	display: block;
	float: left;
	text-align: right;
	margin-top: 3px;
}
#login-dialog input {
	width: 187px;
	border: 1px solid grey;
	padding: 2px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 3px;
}

.user-menu {
    display: none;
}
.login-menu, .logged .logout-menu {
    display: none;
}
.logged .user-menu, .logged .login-menu {
    display: block;
}

/* ================================================================== */
/* ADs */
/* ================================================================== */

.ads {
	text-align: center;
	padding: 25px 0 0 ;
	display: block;
}

.ads div a {
	font-family: "AsapRegular";
	color: rgb(200,200,200);
}

	.ads:hover div a {
		color: rgb(128,128,128);
	}

.ads div {
	text-align: right;
	padding-right: 80px;
}

.ads.top-ad  {
	text-align: center;
	position: relative;
	top: -47px;
}
	.top-ad div  {
		padding: 5px 0 0 ;
	}
	
	.top-ad div a {
		padding-right: 15px;
	}

.ads.sidebar-ad  {
	text-align: left;
	padding: 0 0 0 40px;
}

	.sidebar-ad div  {
		text-align: right;
		padding-right: 70px;
	}

	.sidebar-ad div a:hover {
		font-family: "AsapRegular";
	}

.footer-ad div {
	padding: 0 80px 0;
}

/* ================================================================== */
/* Screens smaller than 960 */
/* ================================================================== */

@media (max-width: 960px) {

	body {
		min-width: 630px;
	}
	
	#logo-glow,
	#licence-info,
	#social-network-iframes {
		display: none;
		opacity: 0;
	}

	#logo 			{left: 29px;} /*move the logo to the right*/
	#logo-shadow 	{left: 10px;}
	#top-search 	{left: 80px;}
	#site-title 	{left: 120px;}
	
	#notification a {
		top: 105px;
		left: 116px;
	}
	
	#login-register-language {
		position: absolute;
		top: 32px;
		right: 50%;
		margin-right: -272px;
		width: 200px;
	}
	
		.search-template #login-register-language {
			position: absolute;
		}
	
	.container_24,
	.container_24 .grid_16,
	.container_24 .grid_24 {
		width: 630px;
	}
	
	#left {
		width: 630px;
		background: url("../img/menu-bg_small.png") repeat-x bottom white;
	}
	
	#main-menu {
		padding: 20px 0 40px 0;
		margin: 120px 0 0 0;
		background-image: none;
	}
	
	#main-menu li {
			margin-left: 30px;
		}
		
		#icon-bar li:nth-child(1) a {margin-top: 0;}
		#icon-bar li:nth-child(2) a {margin-top: 0;}
		#icon-bar li:nth-child(3) a {margin-top: 0;}
		#icon-bar li:nth-child(4) a {margin-top: 0;}
		#icon-bar li:nth-child(5) a {margin-top: 0;}
		#icon-bar li:nth-child(6) a {margin-top: 0;}
		
		#icon-bar {
			position: absolute;
			width: 290px;
			margin: -35px 0 0 25px;
			height: 33px;
			padding: 0;
			bottom: 0;
			top: auto;
		}

		#main-menu li ul li {
			margin: 5px 30px;
		}

		#main-navigation {
			width: 310px;
		}
		
		#container .sidebar-block.grid_8 {
			margin: 141px 0 50px 60px;
			width: 240px;
			background: white;
			padding: 0;
		}

	#donation-buttons {
		position: relative;
		left: 470px;
		margin: -62px 0 0 -140px;
		text-align: right;
		width: 260px;
	}
	
	.ads.sidebar-ad div {
		padding-right: 0px;
    }

	.sidebar-block .accordion-container .accordion-content {
		padding: 0 0 10px 0;
	}
	.sidebar-block .accordion-container .accordion-content ul {
		margin: 0;
	}
	
	.sidebar-block .accordion-container label {
		background: url("../img/icons_vertical.png") no-repeat 100% -34px;
	}

	.sidebar-block .accordion-container input:checked + label,
	.sidebar-block .accordion-container input:checked + label:hover {
		background: url("../img/icons_vertical.png") no-repeat 100% -4px;
	}
	
	#front-banner {
		padding: 10px 0 0 0;
	}

	#search {
		padding-top: 20px;
	}

	#search .download-button {
		padding-bottom: 25px;
	}

	#result-list {
		padding: 15px 0 0 20px;
	}
	
	#result-navigation {
		margin-left: 0;
	}


	#container.search-template {	
		margin: 0 auto;
		width: 630px;
	}
	
	#right {
		padding-top: 25px;
		float: left;
	}
	
	.thumbnail {
		margin: 0 25px 110px 25px;
	}

	#front-left {
		background: url("../img/vertical-separator.png") repeat-y 300px;
	}

}
