{% extends 'main.template' %}
{% block content %}
  <h2 class="center"> {{username}}'s clipart </h2>
  {% include 'components/pagination.template' %}
  <div class="row thumbnails">
    {% for clipart in cliparts %}
      {% include 'clipart/item.template' %}
    {% endfor %}
  </div>
  {% include 'components/pagination.template' %}
  <br />
{% endblock %}