<div id="front-banner" class="grid_16 alpha omega">
  <p>create, share & remix<br />free clip art</p>
  <div><a href="/upload">upload clipart.</a></div>
</div>

<div id="front-left" class="grid_8 alpha">
  <h2>Popular This Month</h2>
  {{> popular_clipart}}
</div><!--end right1-->

<div id="front-right" class="grid_8 omega">
  <h2>New Clipart</h2>
  {{> new_clipart}}
</div><!--end right2-->

