ul.list-image {
  background: url("/img/participate.png") no-repeat;
  padding-top: 155px;
}

ul.use-advocate       {background-position: 26px 0;}
ul.share-remix        {background-position: -214px 0;}
ul.become-librerian   {background-position: -446px 0;}
ul.become-developer   {background-position: -680px 0;}
