ul.list-image li:first-of-type {
  background: url("/img/participate.png") no-repeat;
  padding-top: 155px;
}

ul.use-advocate li:first-of-type     {background-position: 50% 0px;}
ul.share-remix li:first-of-type        {background-position: 50% -240px;}
ul.become-librerian li:first-of-type   {background-position: 50% -477px;}
ul.become-developer li:first-of-type   {background-position: 50% -712px;}

em.note {
  font-style: normal;
  font-family: "AsapBold";
  background: url("/img/ocal-icons.png") no-repeat scroll  -38px -576px  transparent; 
  padding-left: 20px;  
}
