.page-upload{
  /* GAURANTEE SECTION*/
  .gaurantee{
    h4{
      color: #666;
    }
    ul{
      list-style: none;
      li{
        margin-bottom: 20px;
        line-height: 20px;
        font-size: 14px;
      }
    }
    .icon-copyright,
    .icon-trademark,
    .icon-publicdomain{
      background: url('/img/upload-icons.png');
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    .icon-copyright{
      background-position: 0px -119px;
    }
    .icon-trademark{
      background-position: 0px -219px;
    }
    .icon-publicdomain{
      background-position: 0px -319px;
    }
    strong{
      font-family: "AsapBold";
    }
  }
  /* LOGIN SECION */
  .login-info{
    text-align: center;
    a{
      color: red;
    }
  }
  .file-upload{
    /*background-color: blue;*/
  }
}