<div class="upload-item row">
  <div class="span2"></div>
  <div class="span1 thumb-container"></div>
  <div class="span6">
    <div class="controls controls-row">
      <input type="text" name="title[]" class="title span3" placeholder="title...">
      <input type="text" name="author[]" class="author span3" placeholder="author...">
    </div>
    <div class="controls controls-row">
      <textarea type="text" name="description[]" class="description span3" placeholder="description..."></textarea>
      <input type="text" name="tags[]" class="tags span3" placeholder="tags...">
    </div>
  </div>
</div>