{% extends 'main.template' %}
{% block content %}
  <div style="margin:auto; text-align: center">
    <img src="/images/404.jpeg" />
    <h4> Monkey is sad, because there are no bananas here. </h4>
  </div>
{% endblock %}