<div class="grid_16 alpha omega content text">
  <h1>ABOUT THE OPEN CLIP ART LIBRARY</h1>
   
  <h2>About</h2>
  <p>This project aims to create an archive of clip art that can be used for free for any use.
  All graphics submitted to the project should be waived of all rights, including copyright, according to the <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain</a> Dedication.</p>

  <h2>Join Us!</h2>
  <p>There are several ways to contribute to this project.</p>
  <ul>
    <li>Create and upload your clip art! You just need to <a href="/register">register</a> first</li>
    <li>Subscribe to the <a href="http://freedesktop.org/mailman/listinfo/clipart">mailing list</a> and email your thoughts of course! You can also browse the <a href="http://freedesktop.org/pipermail/clipart/">archives</a> to review the project's history if you want.</li>
    <li>Join us on <a href="http://webchat.freenode.net/?channels=openclipart">#openclipart</a> on irc.freenode.net (or use the <a href="#webclient">webclient below</a>)</li>
    <li>Report <a href="https://github.com/openclipart/openclipart/issues?milestone=5&state=open">problems</a> with the site!</li>
    <li>Issue <a href="https://github.com/openclipart/openclipart/issues?milestone=4&state=open">features</a> you are missing!</li>
    <!--<li>Make applications that use our API</li>-->
  </ul>

  <h2>Live Chat</h2>
  <p>If you want to talk to someone urgently, please use their name to get their attention, as we are very busy people and are not actively monitoring the chat, even if we are logged in. Using their name will make their window flash for attention.</p>
  <iframe id="webclient" src="http://webchat.freenode.net/?channels=openclipart" width="630" height="600"></iframe>
</div>
