<ul class="thumbnails">
{{#clipart_list}}
  <li class="span2">
    <a href="/clipart/{{id}}/{{link}}{{forward_query}}" title="{{title}}">
      <div class="image-center">  
        <img src="/image/100/{{username}}/{{filename_png}}{{forward_query}}">
      </div>
      <h5>{{title}}</h5>
    </a>
  </li>
{{/clipart_list}}
</ul>
