<div id="forget-password">
  <h2>Did you forget your password?</h2>
  <p>Enter your email adress and we will send you email with a link to your profile.</p>
  <p class="error" style="display:none"></p>
  <form action="/forget-password" method="get">
    <input type="text" id="email" name="email"/>
    <input type="submit" class="button" value="Request Access Link"/>
  </form>
</div>
