<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Open Clip Art Library</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" /> 
	<link rel="icon" href="{{root}}/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/css/960_24_col.css" />
	<link rel="stylesheet" href="/css/main.css" />
    <link rel="search" type="application/opensearchdescription+xml" title="Open Clipart Library" href="{{root}}/openclipart.xml" />
</head>
<body>
  {{! jquery added if editable (NOTE: rpc have it's own check)}}
  <div id="container" class="container_24{{#editable}} editable{{/editable}}{{#userid}} logged{{/userid}}">
  <a href="https://github.com//openclipart"><img style="position: absolute; top: 0px; right: 0px; border: 0; opacity: 0.5; width: 100px;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <div id="left" class="grid_8">
      <div id="main-navigation" class="grid_8 alpha omega">
        <div id="logo-glow"></div>
		<div id="main-menu">
		  <ul>
		    <li class="active"><a href="/">Home</a></li>
		    <li><a href="/collections">Collections</a></li>
		    <li><a href="/artists">Artists</a></li>
		    <li><a href="/showcase">Showcase</a></li>
		    <li><a href="/participate">Participate</a></li>
		    <li><a href="about">About</a></li>
		  </ul>
		</div>
		<div id="icon-bar">
		    <ul>
		      <li><a href="#" class="identica">&nbsp;</a></li>
		      <li><a href="#" class="diaspora">&nbsp;</a></li>
		      <li><a href="#" class="twitter">&nbsp;</a></li>
		      <li><a href="#" class="googleplus">&nbsp;</a></li>
		      <li><a href="#" class="facebook">&nbsp;</a></li>
		      <li><a href="#" class="share-more">&nbsp;</a></li>
		    </ul>
		</div>

        <a id="site-title" href="/">Open Clip Art Library</a>

        <div id="top-search">
          <input id="search-i" name="query" placeholder="search here..."/>
          <input id="s-button" type="submit"  value=""/>
        </div>
        <div id="logo-shadow"></div>
        <a id="logo" href="#"><img src="/img/logo.png" /></a>

      </div><!--end main-navigation-->

      <div class="sidebar-block grid_8">
		<div class="accordion-container">
		  <input id="ac-sidebar-1" class="hidden" name="accordion-sidebar" type="checkbox" />
		  <label for="ac-sidebar-1">Username</label>
		  <div class="accordion-content">
		    <ul>
		      <li><a href="">Profile</a></li>
		      <li><a href="">Upload</a></li>
		      <li><a href="">Clipart</a></li>
		      <li><a href="">Logout</a></li>
		    </ul>
		  </div>
		</div>
      </div>

      {{> social-box}}

    </div><!--end left-->

    <div id="right" class="grid_16">

    <div id="licence-info" class="grid_10 alpha">
        <div class="grid_10 sharism">
            <a href="http://sharism.org/">
                <em>✳</em> Sharism
                <span>all clipart is public domain<br />
                 use without restrictions.</span>
            </a>
        </div>
    </div><!--end licence-info-->

      <div id="donation-buttons" class="grid_3">
        <a href="#"><img src="img/donation-flattr.png" /></a>
        <a href="#"><img src="img/donation-paypal.png" /></a>
      </div>

      <div id="login-register-language" class="grid_3 omega">

        <div class="wrapper logout-menu">
          <a id="login-link" href="/login">login</a> | <a id="register-link" href="/register">register</a>
        </div>

        <div class="wrapper login-menu">
          <a href="/profile">profile</a> | <a id="logout" href="/logout">logout</a>
        </div>

        <ul>
          <li><a href="#">german</a></li>
          <li><a href="#">english</a></li>
          <li><a href="#">language with long name</a></li>
          <li class="active"><a href="#">spanish</a></li>
          <li><a href="#">french</a></li>
        </ul>
      </div><!--end login-register-language-->

      {{> login-dialog}}

      {{> content}}

    </div><!--end right-->

    <div id="footer" class="grid_24">
      <ul>
        <li><em><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FSUSWMQXL8AKS">Donate to Support Hosting + Maintenance</a></em></li>
        <li><a href="http://fabricatorz.com/">Fabricatorz 王</a></li>
        <li><a href="http://www.inkscape.org/">Inkscape</a></li>
        <li><a href="http://www.freepik.com/">freepik</a></li>
        <li><a href="http://gandi.net/">Gandi.net</a></li>
        <li><a href="http://linode.net/">Linode</a></li>
        <li><a href="http://www.openfontlibrary.org/">Open Font Library</a></li>
        <li><a href="http://sharism.org/">✳ Sharism</a></li>
      </ul>
    </div><!--end footer-->

  </div><!--end container-->
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="{{root}}/libs/json-rpc/json-rpc.js"></script>
  <script src="{{root}}/libs/Modernizr.js"></script>
  <script src="/libs/jquery-ui/jquery-ui-1.8.24.custom.min.js"></script>
  <link href="/libs/jquery-ui/jquery-ui-1.8.24.custom.css" rel="stylesheet"/>
  <link href="/libs/tag-it/css/jquery.tagit.css" rel="stylesheet"/>
  <script src="/libs/tag-it/js/tag-it.js"></script>
  {{^userid}}
  {{! don't load if logged in }}
  <script src="http://api.picatcha.com/static/client/picatcha.js" type="text/javascript"></script>
  <link href="http://api.picatcha.com/static/client/picatcha.css" type="text/css" rel="stylesheet"/>
  {{/userid}}
  <script src="{{root}}/script.js"></script>
</body>
</html>
