<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Open Clip Art Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700italic,400italic,700|Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 72px;
        padding-bottom: 0px;
      }
    </style>
    <link href="/css/ocal.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="logo-shadow"></div>
          <a class="brand" href="#"><img src="/img/logo.png" alt="OCAL"  style="z-index: 2;"/></a>
          
          <form class="form-search ocal-search" action="/search" method="GET">
            <div class="input-append">
              <input id="search-i" name="query" type="text" class="span2 search-query" placeholder="Search">
              <button id="s-button" type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i></button>
            </div>
          </form>
          
          <a class="paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FSUSWMQXL8AKS"><img src="/img/donation-paypal.png" /></a>
          
          
          <a class="btn btn-inverse ocal-collapse" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>  
          
          <div class="nav-collapse collapse pull-right ocal-nav">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">username <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">my profile</a></li>
                  <li><a href="#">my messages</a></li>
                  <li><a href="#">my clipart</a></li>
                  <li><a href="#">my page</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Librarian Tools <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">search username</a></li>
                  <li><a href="#">search comments</a></li>
                  <li><a href="#">QwikEdit</a></li>
                  <li><a href="#">clipart_issue tag</a></li>
                  <li><a href="#">pd_issue tag</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">list...</li>
                  <li><a href="#">hidden clip art</a></li>
                  <li><a href="#">untagged clip art</a></li>
                  <li><a href="#">comments</a></li>
                  <li><a href="#">librarians</a></li>
                </ul>
              </li>
              <li><a href="#contact">sign-in</a></li>
            </ul>
          </div><!--/.nav-collapse -->
       
        </div>
      </div>
    </div>
    
    
    <div class="container">

      <div class="row ocal-ad-banner">
        <div class="span12">
          <div class="row">
            <div class="span3 title">
              <div>Open Clip Art Library</div>
            </div>
            <div class="span9 ad pull-right">
              <a href="#">
                <img src="/img/adsense_185666_adformat-display_728x90_en.jpg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>   
    
      <div class="row"> 
        <div class="span12">
          <ul class="ocal-main-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Collections</a></li>
            <li><a href="#">Artists</a></li>
            <li><a href="#">Showcase</a></li>
            <li class="active"><span>Participate</span></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="shadow"></div>
    <div class="stripe"></div>
    <div class="glow"></div>
    

    <div class="container after-stripe {{#editable}} editable{{/editable}}{{#userid}} logged{{/userid}}{{#class}} {{class}}-template{{/class}}">     
      <div class="triangle"></div>
      
      {{> content}}     

      <footer>
        <div class="row">
          <div class="span3">
            <h4>Clip Art ✳ Sharism</h4>
            <ul>
              <li><p>Clip Art Released by Artists under <a href="http://sharism.org/agreement/">✳ Sharism Sharing Agreement</a>.</p></li>
              <li><a href="http://openclipart.org/policies">Policies</a></li>
              <li><a href="http://openclipart.org/dmca">DMCA</a></li>
            </ul>
          </div>
          <div class="span3">
            <h4>Participate</h4>
            <ul>
              <li><a href="http://github.com/openclipart/openclipart/issues">Features / Issues</a></li>
              <li><a href="https://github.com/openclipart/openclipart">Source Code</a></li>
              <li><a href="http://openclipart.org/docs/api">API</a></li>
              <li><a href="#">Donate</a></li>
            </ul>
          </div>
          <div class="span3">
            <h4>Get in touch</h4>
            <ul>
              <li><a href="mailto:everyone@openclipart.org">everyone@openclipart.org</a>
              <li><a href="http://webchat.freenode.net/?channels=openclipart">join #openclipart on IRC</a>
              <li><a href="mailto:everyone@openclipart.org">business opportunities</a>
            </ul>
          </div>
          <div class="span3">
            <h4>Partners</h4>
            <ul>
              <li><a href="http://fabricatorz.com/">Fabricatorz 王</a></li>
              <li><a href="http://inkscape.org/">Inkscape</a></li>
              <li><a href="http://www.gandi.net/">Gandi.net</a></li>
              <li><a href="http://www.linode.net/">Linode</a></li>
            </ul>
          </div>
        </div>
      </footer>   
 
    </div> <!-- /container -->

    <img style="position: absolute; top: 0px; right: 0px; border: 0; z-index: 100;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


  </body>
</html>
