{% extends 'main.template' %}
{% block content %}
<div class="row">
  <div class="span12 section">
    <h3 class="section">Participate</h3>
    <h4> How to participate </h4>
    <p> Some text. </p>
  </div>
</div>
{% endblock %}