{% extends 'main.template' %}
{% block content %}
<div class="row">
  <div class="span12 section">
    <h3 class="section">search for {{tag[0]}}</h3>
    <div class="row thumbnails">
      {% for clipart in cliparts %}
        {% include 'clipart/item.template' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}