{% if pagination %}
  <ul class="pager">
    {% if pagination.current > 0 %}
      <li class="previous">
        <a href="{{pagination.current-1}}{{pagination.query ? '?' ~ pagination.query }}">&larr; Prev</a>
      </li>
    {% endif %}
    {% if pagination.current < pagination.pages %}
      <li class="next">
        <a href="{{pagination.current+1}}{{pagination.query ? '?' ~ pagination.query }}">Next &rarr;</a>
      </li>
    {% endif %}
  </ul>
{% endif %}