<li class="span2">
  <a href="/clipart/{{clipart.id}}/{{clipart.link}}{{clipart.forward_query}}" title="{{clipart.title}}" class="thumbnail">
    <div class="image-center">
      <img src="/rendered-images/100/{{clipart.id}}">
    </div>
    <h5>{{clipart.title}}</h5>
  </a>
</li>
